APP_NAME=Restaurant Review API
APP_VERSION=1.0.0
DEBUG=True

MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=restaurant_review

JWT_SECRET_KEY=change-me-to-a-random-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
GOOGLE_CLIENT_ID=385557387911-5n0l0sacraq025klur3kr4e1m455t65g.apps.googleusercontent.com